@using TestProject.Models
@using TestProject.Extentions;
@model IEnumerable<Trip>

<table class="table">
    <thead>
        <tr>
            <th>Шофьор</th>
            <th>Начална позиция</th>
            <th>Дестинация</th>
            <th>Час на тръгване</th>
            <th>Час на връщане</th>
            <th>Цена</th>
            <th>Общо места</th>
            <th>Свободни места</th>
            <th>Модел на колата</th>
            <th>Регистрационен номер</th>
            <th>Снимка</th>
            <th>Статус</th>
            @if (ViewData["ShowActions"] as bool? ?? false)
            {
                <th>Опции</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.Driver?.UserName ?? "Вече не съществува")</td>
                <td>@item.StartPosition</td>
                <td>@item.Destination</td>
                <td>@item.DepartureTime.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.ReturnTime.ToString("yyyy-MM-dd HH:mm")</td>
                <td>@item.Price</td>
                <td>@item.TotalSeats</td>
                <td>@item.FreeSeats</td>
                <td>@item.CarModel</td>
                <td>@item.PlateNumber</td>
                <td>
                    <img src="@item.ImagePath" alt="Trip Picture" style="max-width: 100px;" />
                </td>
                <td> @Html.DisplayFor(modelItem => item.StatusTrip)</td>
                @*   @if (item.Driver.Id == User.Id())
                { *@

                @if (ViewData["ShowActions"] as bool? ?? false)
                {
                    <td>
                        <a asp-controller="Trips" asp-action="Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path">Edit</a> |
                        <a asp-controller="Trips" asp-action="Details" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path">Details</a> |
                        <form asp-controller="Trips" asp-action="Delete" method="post" style="display:inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                            <button type="submit" class="btn btn-sm btn-danger"
                                    onclick="return confirm('Сигурен ли си, че искаш да го изтриеш?')">
                                Delete
                            </button>
                        </form>
                    </td>
                }
                @*  } *@
            </tr>
        }
    </tbody>
</table>